<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Article', new_article_path %>
    <% end %>
    <%= render @article %>
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments, class: 'apple_pagination' %>
  </div><!-- /col -->
</div><!-- /row -->
