<div class="row auth-panel">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div class="login">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-login', method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <h2 class="form-login-heading">Update Your Password</h2>
        <%= f.label :password, class: 'sr-only', for: 'inputPassword' %>
        <%= f.password_field :password, class: 'form-control login-form', id: 'inputPassword', placeholder: "New Password (#{ @minimum_password_length } characters minimum)", required: true, autocomplete: 'off' %>
        <%= f.label :password_confirmation, class: 'sr-only', for: 'confirmPassword' %>
        <%= f.password_field :password_confirmation, class: 'form-control login-form', id: 'confirmPassword', placeholder: 'New Password (Confirmation)', required: true, autocomplete: 'off' %>

        <%= f.submit 'Update Password', class: 'btn btn-lg btn-primary btn-block login-form' %>
      <% end %>

      <div class="auth-links">
        <%= render "devise/shared/links" %>
      </div>
    </div><!-- /login -->
  </div><!-- /col -->
</div><!-- /row -->
