<div class="row auth-panel">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div class="login">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-login', method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <h2 class="form-login-heading">Forgot your password?</h2>
        <p>Don&rsquo;t worry, we&rsquo;ll send you password instructions.</p>
        <%= f.label :email, class: 'sr-only', for: 'inputEmail' %>
        <%= f.email_field :email, class: 'form-control login-form', id: 'inputEmail', placeholder: 'Email address', required: true, autofocus: true %>

        <%= f.submit 'Submit', class: 'btn btn-lg btn-primary btn-block login-form' %>
      <% end %>

      <div class="auth-links">
        <%= render "devise/shared/links" %>
      </div>
    </div><!-- /login -->
  </div><!-- /col -->
</div><!-- /row -->
